<?xml version="1.0"?>
<!--
/**
 * Mageplaza_Kb extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Mageplaza
 * @package        Mageplaza_Kb
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Mageplaza_Kb>
            <version>1.0.0</version>
        </Mageplaza_Kb>
    </modules>
    <global>
        <resources>
            <mageplaza_kb_setup>
                <setup>
                    <module>Mageplaza_Kb</module>
                    <class>Mageplaza_Kb_Model_Resource_Setup</class>
                </setup>
            </mageplaza_kb_setup>
        </resources>
        <blocks>
            <mageplaza_kb>
                <class>Mageplaza_Kb_Block</class>
            </mageplaza_kb>
        </blocks>
        <helpers>
            <mageplaza_kb>
                <class>Mageplaza_Kb_Helper</class>
            </mageplaza_kb>
        </helpers>
        <models>
            <mageplaza_kb>
                <class>Mageplaza_Kb_Model</class>
                <resourceModel>mageplaza_kb_resource</resourceModel>
            </mageplaza_kb>
            <mageplaza_kb_resource>
                <class>Mageplaza_Kb_Model_Resource</class>
                <entities>
                    <article>
                        <table>mageplaza_kb_article</table>
                    </article>
                    <category>
                        <table>mageplaza_kb_category</table>
                    </category>
                    <tag>
                        <table>mageplaza_kb_tag</table>
                    </tag>
                    <category_store>
                        <table>mageplaza_kb_category_store</table>
                    </category_store>
                    <tag_store>
                        <table>mageplaza_kb_tag_store</table>
                    </tag_store>
                    <article_category>
                        <table>mageplaza_kb_article_category</table>
                    </article_category>
                    <category_article>
                        <table>mageplaza_kb_article_category</table>
                    </category_article>
                    <article_tag>
                        <table>mageplaza_kb_article_tag</table>
                    </article_tag>
                    <tag_article>
                        <table>mageplaza_kb_article_tag</table>
                    </tag_article>
                    <article_product>
                        <table>mageplaza_kb_article_product</table>
                    </article_product>
                    <article_comment>
                        <table>mageplaza_kb_article_comment</table>
                    </article_comment>
                    <article_comment_store>
                        <table>mageplaza_kb_article_comment_store</table>
                    </article_comment_store>
                    <eav_attribute>
                        <table>mageplaza_kb_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </mageplaza_kb_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <mageplaza_kb>
                        <class>Mageplaza_Kb_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </mageplaza_kb>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mageplaza_kb>
                    <file>mageplaza_kb.xml</file>
                </mageplaza_kb>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageplaza_Kb>
                    <files>
                        <default>Mageplaza_Kb.csv</default>
                    </files>
                </Mageplaza_Kb>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <mageplaza_kb_article_product>
                        <type>singleton</type>
                        <class>mageplaza_kb/adminhtml_observer</class>
                        <method>addProductArticleBlock</method>
                    </mageplaza_kb_article_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <catalog_product_save_after>
                <observers>
                    <mageplaza_kb_article_product>
                        <type>singleton</type>
                        <class>mageplaza_kb/adminhtml_observer</class>
                        <method>saveProductArticleData</method>
                    </mageplaza_kb_article_product>
                </observers>
            </catalog_product_save_after>
        </events>
        <global_search>
            <article>
                <class>mageplaza_kb/adminhtml_search_article</class>
                <acl>mageplaza_kb</acl>
            </article>
            <tag>
                <class>mageplaza_kb/adminhtml_search_tag</class>
                <acl>mageplaza_kb</acl>
            </tag>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mageplaza_Kb before="Mage_Adminhtml">Mageplaza_Kb_Adminhtml</Mageplaza_Kb>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <mageplaza_kb>
                        <class>mageplaza_kb/observer</class>
                        <method>addItemsToTopmenuItems</method>
                    </mageplaza_kb>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>

        <routers>
            <mageplaza_kb>
                <use>standard</use>
                <args>
                    <module>Mageplaza_Kb</module>
                    <frontName>kb</frontName>
                </args>
            </mageplaza_kb>
        </routers>
        <layout>
            <updates>
                <mageplaza_kb>
                    <file>mageplaza_kb.xml</file>
                </mageplaza_kb>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageplaza_Kb>
                    <files>
                        <default>Mageplaza_Kb.csv</default>
                    </files>
                </Mageplaza_Kb>
            </modules>
        </translate>
    </frontend>
    <default>
        <mageplaza_kb>
            <home>
                <limit_faq>5</limit_faq>
            </home>
            <article>
                <breadcrumbs>1</breadcrumbs>
                <url_rewrite_list>faqs</url_rewrite_list>
                <url_prefix>faq</url_prefix>
                <url_subfix>html</url_subfix>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <meta_title>All FAQs</meta_title>
            </article>
            <category>
                <breadcrumbs>1</breadcrumbs>
                <url_rewrite_list>faq</url_rewrite_list>
                <url_prefix>faqcat</url_prefix>
                <rss>1</rss>
                <meta_title>FAQ</meta_title>
                <tree>1</tree>
                <recursion>0</recursion>
            </category>
            <tag>
                <breadcrumbs>1</breadcrumbs>
                <rss>1</rss>
                <meta_title>Tags</meta_title>
            </tag>
        </mageplaza_kb>
    </default>
</config>
